* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/Outfit-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/Outfit-Bold.ttf');
	font-weight: 700;
}

body {
	font-family: 'Outfit', sans-serif;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 155px 0;
	background-color: hsl(212, 45%, 89%);
}

.qr-container {
	width: 22%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 22px;
	background: hsl(0, 0%, 100%);
	border: 1px solid hsl(0, 0%, 100%);
	border-radius: 20px;
}

.qr-container img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	text-align: center;
	font-weight: 700;
	padding: 22px 22px 0;
}

.text  {
	font-size: 14px;
	font-weight: 400;
	padding: 15px 25px 40px;
	text-align: center;
}

@media only screen and (max-width: 375px) {
	.qr-container {
		width: 80%;
		padding: 22px;
	}

	.title {
		font-size: 1.25rem;
		line-height: 1.75rem;
		text-align: center;
		padding: 17px 11px 0;
	}
	
	.text  {
		font-size: 14px;
		font-weight: 400;
		padding: 15px 25px 40px;
		text-align: center;
	}
	
}